@import url(http://fonts.googleapis.com/css?family=Trochut);
body {
    text-align: center;
    padding-top: 50px;
}
.carrossel {
    display: inline-block;
    position: relative;
    width: 939px;
    height: 320px;
    text-align: left;
}
.carrossel ul { 
    list-style: none;
    margin: 0;
    padding: 0;
}
.carrossel .page {
    width: 939px;
    height: 320px;
}
.carrossel .page li {
    position: relative;
    float: left;
    margin-left: 1px; 
}
.carrossel .page li:first-child {
    margin-left: 0;
}
.carrossel .page a {
    display: block;
    text-decoration: none;
}
.carrossel .page img, 
.carrossel .page hgroup {
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.carrossel .page hgroup {
    position: absolute;
    top: 175px;
    font-family: helvetica;
    padding: 0 15px;
    color: white;
    height: 145px;
    -o-text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    -ms-text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    -moz-text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    background-image: -o-linear-gradient(top, transparent, black);
    background-image: -ms-linear-gradient(top, transparent, black);
    background-image: -moz-linear-gradient(top, transparent, black);
    background-image: -webkit-linear-gradient(top, transparent, black);
    background-image: linear-gradient(top, transparent, black);
}
.carrossel .page h3 {
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 4px;
    font-weight: normal;
}
.carrossel .page h2 {
    font-weight: normal;
    font-size: 23px;
    line-height: 24px;
    margin: 0;
}
.carrossel label > span {
    display: block;
    font-family: 'Trochut', cursive;
    font-size: 35px;
    color: white;
}
.carrossel label {
    position: absolute;
    display: block;
    z-index: 99;
    top: 120px;
    width: 25px;
    height: 62px;
    padding: 15px 0 0 9px;
    cursor: pointer;
    opacity: .7;
    -o-transition: opacity 200ms linear 0;
    -ms-transition: opacity 200ms linear 0;
    -moz-transition: opacity 200ms linear 0;
    -webkit-transition: opacity 200ms linear 0;
    transition: opacity 200ms linear 0;
    border-top: solid 1px #707070;
    background-image: -o-linear-gradient(top, #535353, #000);
    background-image: -ms-linear-gradient(top, #535353, #000);
    background-image: -moz-linear-gradient(top, #535353, #000);
    background-image: -webkit-linear-gradient(top, #535353, #000);
    background-image: linear-gradient(top, #535353, #000);
}
.carrossel label:hover {
    opacity: .99;
}
.carrossel .left {
    left: 0;
    -o-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-right: solid 1px #272727;
}
.carrossel .right {
    right: 0;
    -o-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border-left: solid 1px #272727;
}
